@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,600&display=swap');
*{
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	appearance: 0;
	text-decoration: none;
	box-sizing: border-box;
	font-family: 'K2D';
}
html{
	font-size: 14px;
}
body{
	width: 100vw;
    height: 100vh;
    font-family: 'K2D';
    overflow-x: hidden;
    font-size: 0.88rem;
}
h1{
    font-weight: 800;
    font-size: 1.8rem;
}
h2{
    font-weight: 800;
    font-size: 1.4rem;
    margin-right: -14rem;
    margin-top: 1rem;
}
p{
	color: rgb(34, 34, 34);
}
b{
	color: rgb(14, 14, 14);
}
small{
	font-size: 0.76rem;
}
main{
	margin-top: 8rem;
	padding: 0 1rem;
}
.banner img{
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 2rem;
}
.container2{
    margin-top: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
    padding: 1.5rem;
    border-radius: 20px;
    background-color: #ebebeb;

}
.container2 .nav{
    gap: 8rem;
    display: flex;
    justify-content: space-evenly;
}
.container2 .nav a{
    display: flex;
    font-size: 1.8rem;
    color: #fff;
    font-family: 'K2D';
    background-color: #076026;
    padding: 1rem;
    border-radius: 20px;
    width: 20%;
    justify-content: center;
}
.main .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; 
}
.footer{
    background-color:#163920;
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.footer img{
    width: 8%;
}